    
    
    <h1>Edit the Information for the Selected Product</h1>
    <form method="POST" action="/updateproduct/{{_id}}?method=PUT" >

        <label>Product Name</label>
        <input type="text" name="productName" id="productName" value="{{productName}}"> <br><br>

        <label>Price $</label>
        <input type="number" placeholder="0.00" step="0.01"  name="price" id="price" value="{{price}}" > <br><br>

        <label>Description</label><br>
        <textarea id="description" name="description">{{description}}</textarea><br><br>
        
        <label>Quantity</label>
        <input type="number" placeholder="0" step="1"  name="quantity" id="quantity" value="{{quantity}}"> <br><br>

        <label>Category</label>
        <select name="category" id="category">
            <option value="general" {{#equal category "general" "selected"}}  {{/equal}}>General</option>
            <option value="electronics" {{#equal category "electronics" "selected"}}  {{/equal}}>Electronics</option>
            <option value="clothing" {{#equal category "clothing" "selected"}}  {{/equal}}>Clothing</option>
            <option value="books" {{#equal category "books" "selected"}}  {{/equal}}>Books</option>   
        </select>    
         <br><br>

         <label>Best Seller</label>
        <select name="bestseller" id="bestseller">
            <option value="false">No</option>
            <option value="true" {{#if bestseller}} selected {{/if}}>Yes</option>     
        </select>    
         <br><br>
    

        <input type="submit" value="Update Product">

    </form>