<div id="home">
    <div id="promotion">
        <img src="/img/promo.jpg" alt="banner">
    </div>
    <h1 id="cat_header">Categories</h1>
    <section id="categories">
        {{#each category}}
        <div class="categories">
            <h1>
                {{this.title}}
            </h1>
            <img class="cat_img" src="{{this.picture}}" alt="not working" />
            <a href="/{{this.category}}" class="cat_link">Explore</a>
        </div>
        {{/each}}
    </section>
    <h1 id="sellers_header">Best Sellers</h1>
    <div class="best_selling">
        {{#each bestsellers}}
        <div class="best_sellers">
            <img class="best_sell_img" src="uploads/{{this.productPic}}" alt="not working" />
            <p>
                Product : {{this.productName}}
            </p>
            <p>
                Price : {{this.price}}
            </p>
        </div>
        {{/each}}
    </div>
</div>