<section id="products_list">
    {{#each products}}
    <div class="listings">
        <img src="/uploads/{{this.productPic}}" class="product_img" alt="not working" />
        <div class="product_text">
            <h3>
                {{this.productName}}
            </h3>
            <p>
                Price : ${{#formatPrice this.price}} {{/formatPrice}}
            </p>
            <p>
                Description : {{this.description}}
            </p>
            <p>
                Quantity : {{this.quantity}}
            </p>
            <p>
                Category : {{this.category}}
            </p>
            {{#if this.bestseller}}
            <h4>
                Best Seller
            </h4>
            {{/if}}
            <a href="/editproduct/{{this.id}}" class="button">Edit Product</a><br>
            <a href="/deleteproduct/{{this.id}}?method=DELETE" class="button">Delete Product</a>
        </div>
    </div>
    {{/each}}
</section>